.carousel-width{
    width: 25vw;
}

.reviews h2{
    font-size: 50px;
    color: #0072bb;
    text-shadow:  0px 0px 5px #000;
    word-wrap: break-word;
    font-weight: bold;
}

.review{
    color: #331a15;
    background-color: #eceae3;
    border-radius: 3%;
}
.reviews{
    position: relative;
}
.review img{
    border: 4px solid white;
}
.review h3{
    font-size: 2em;
    font-family: 'Rancho', cursive;
    text-shadow:  0px 0px 5px #000;
}
.review h5{
    font-weight: bold;
    font-family: 'Rancho', cursive;
}
.review p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}
.review div{
    background-color: #331a15;
}

@media only screen and (max-width:1024px){
    .carousel-width{
        width: 75vw;
    }
}